{% extends "parent.html"%}
{% load crispy_forms_tags%}

{%block title%}reset password {%endblock%}
{%block name%} Reset your password {%endblock%}

{%block content%}

<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Reset Password.</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset Password </button>
            <a class="btn btn-outline-info" href="http://127.0.0.1:8000/home/">Cancel </a>

        </div>

    </form>

</div>
{%endblock%}