{% extends "parent.html" %}
{%block title%}
Followings
{%endblock%}

{%block name%}
{{view.kwargs.username}}'s followings
{%endblock%}
{%block content%}
    {%for following in following%}
<div class="margin" >
        <a href="http://127.0.0.1:8000/user/{{following.following_user}}/"><img  class="rounded float-left" src="{{following.following_user.profile.image.url}}" width="30" height="30" ></a>
        <a style="margin: 10px" href="http://127.0.0.1:8000/user/{{following.following_user}}/">{{following.following_user}}</a>
        <hr>

</div>
    {%endfor %}
{%endblock%}